body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.number {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid black;
}

.letter {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  border: 2px dashed black;
}

.story {
  background-color: pink;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  padding: 8px;
}

/* aiden */
.lettercontainer {
  display: grid;
  width: 35%;
  
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50px 100px 150px 100px 50px 100px;
  grid-gap: 10px;
}


/* terrell */
.numberContainer {
  display: grid;
  width: 40%;
  
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-gap: 10px 10px;

}

/* Chhuang */
.storyContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 35% 15% 9%;
  grid-template-rows: 35px 35px 35px 35px 35px 35px;
  grid-gap: 4px 4px;
}